<!-- Через двойные фигурные скобки пишуться ключи переданный через контекст, они подготавливаются в шаблоне и передаются через контекст.  -->
{% extends 'arenda/main.html' %} <!-- Наследуем на эту страницу, содержимое страницы "main.html" кроме содержимого внутри block content, Он игнорируется. -->
{% block content %} <!-- Дериктива block - начало. content - это название этой дерективы. На этой странице появиться все из main.html кроме содержимого block content -->
{% load static %} <!-- Для работы с "статическими" - "static" файлами необходимо указать "load static" -->
<link rel="stylesheet" href="{% static 'arenda/css/style.css' %}"> <!-- Путь к css файлу --> 
{% comment %} <!-- временный коммент - начало -->
<script src="{% static 'arenda/js/hello.js' %}"></script> <!-- Путь к js файлу --> 
{% endcomment %} <!-- временный коммент - конец -->
{% with "arenda/photos/"|add:uid|add:".png" as avatar %}
<img src="{% static avatar %}"> <!-- Путь к картинке --> 
{% endwith %}
<h1>Все записи: "{{author}}"</h1> 
<p>Тест работоспособности для начала:</p>
{{all_posts}} 
<h2>Первая запись:</h2>
<p>"{{all_posts.0}}" - (Вывод первого поста)</p> <!-- all_posts.0 где "0" это первая запись. т.е мы обратились к списку: "all_posts" и через точку: "." к его элименту: "0" -->
<!-- Вместо 'all_post' можно написать 'все_посты' в models.py соответсвенно тоже и всеравно будет работать, название ключа может быть любой. -->
<!-- Перебираем циклом списки внутри шаблона для это используется структурная деректива " for arenda in all_posts " мы используем новые переменные внутри циклы "arenda"-->
<!-- Список т.е "<ol></ol>" должен быть снаружи for и endfor а сами они соответсвенно внутри списка -->
<ul>
{% for arenda in all_posts %} <!-- Цикл for - начало -->
    <!-- Внутри только элименты, их надо копировать. -->
    <li><b>Запись № {{forloop.counter}}: </b><em>{{arenda}}</em> - {{arenda.text}}<b> | Добавлено: {{arenda.dt}}|</b></li> <!-- тег: "<em></em>" это усиления чтобы текст был курсивом для наглядности. тег: "<b></b>" делает текст жирным. После arenda: ".text" для отображения записей. После arenda ".dt" для отображеиня времени. Они берутся из models.py.  -->
    <!-- Счетчик цикла: forloop.counter - номер витка, начиная с еденицы. forloop.counter0 - номер витка, начиная с нуля. т.е: 1. 2. 3. или 0. 1. 2. соответственно -->
    {% endfor %} <!-- Цикл for - конец -->
<!--  " endfor " закрывает " for arenda in all_posts " -->
<!-- Все что между for и endfor будет продублировано (скопировано) сколько раз он выполниться, в данном случае 3 раза, потому что на данный момент есть только три записи, их может быть и больше. -->
</ul>
{% endblock %} <!-- Конец block content -->
<!-- Изнокомился с работой с полями класса, индексами массива, ключами словаря, наследованием шаблонов и отдельно блоков. -->
<!-- На этой странице используется следующая цепочка наследований шаблонов: menu.html > main.html > feed.html. Таким образом на этой странице контент из двух других html файлов2, кроме содержимого block content -->