<!-- СТРАНИЦА ДЛЯ ИЗУЧЕНИЯ НАСЛЕДОВАНИЯ ШАБЛОНОВ -->
<div>
    <a href="{% url 'arenda' %}">Главная</a>
    <a href="{% url 'save_arendas' %}">Создать запись</a>
    <a href="{% url 'blogpost' 1 %}">Статьи</a>
    {% if user.is_authenticated %}
    <form id="logout_form" method="post" action={% url 'logout' %}>
        {% csrf_token %}
        <a href="javascript:logout_form.submit()">Выйти, {{user}}?</a>
    </form>
    {% else %}
        <a href={% url 'login' %}>Войти</a>
    {% endif %}
    
</form>